
/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: red;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* Remove arrows in price */
.arrow input::-webkit-outer-spin-button,
.arrow input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.arrow input[type="number"] {
   -moz-appearance: textfield;
}



.container-fluid .text-right .text-wrap{
	/* display:inline; */
	/* float:right; */
	margin-left:auto;
	margin-right:15px;
}

.container-fluid .text-right h6{
	display:inline;
	float:right;
}


.container-fluid .col-1{
	width:auto;
	height:auto;
	max-width:auto;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}

.container-fluid .col-1 .svg-icon{
	margin-top:-9px;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  font-weight: 600;
  padding:0px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* .text-end{
  float: right;
} */
.w-auto{
  width: auto;
  height: auto;
  max-width: auto;
}
